$def with (todos)
$var title: index title
<div class="container">
    <form class="form-horizontal" method="post" action="/admin/add">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" name="name" placeholder="name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPassword3" name="title" placeholder="title">
        </div>
      </div>
         <div class="form-group">
        <label for="inputPassword4" class="col-sm-2 control-label">Num</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputPassword4" name="num" placeholder="num">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Add</button>
        </div>
      </div>
    </form>

<table class="table table-bordered">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Num</th>
    </thead>
    <tbody>
    $for todo in todos:
        <tr>
            <td>$todo['ID']</td>
            <td>$todo['NAME']</td>
            <td>$todo['TITLE']</td>
            <td>$todo['NUM']</td>
        </tr>
    </tbody>
</table>
</div>